@import "compass/css3";

* {
  @include box-sizing(border-box);
}

.current-question {
  position: absolute;
  top: 50%;
  left: 50%;
  $width: 200px;
  $height: 400px;
  width: $width;
  height: $height;
  margin-top: $height / 2 * -1;
  margin-left: $width / 2 * -1;
  text-align: right;
  span {
    margin-right: 10px;
  }
  .part {
    font-size: 64px;
  }
  .answer {
    border-top: 4px solid black;
    padding-top: 10px;
    input {
      font-size: 64px;
      text-align: right;
    }
  }
}
.status {
  font-size: 36px;
  text-align: center;
  position: relative;
}