@import "compass/css3";

* {
  @include box-sizing(border-box);
}

.current-question {
  position: relative;
  left: 50%;
  $width: 200px;
  width: $width;
  margin-left: $width / 2 * -1;
  text-align: right;
  margin-bottom: 15px;
  span {
    margin-right: 10px;
  }
  .part {
    font-size: 64px;
  }
  .answer {
    border-top: 4px solid black;
    padding-top: 10px;
    position: relative;
    width: 100%;
    input {
      font-size: 48px;
      text-align: right;
      width: 100%;
    }
  }
}
.status {
  font-size: 36px;
  text-align: center;
  position: relative;
}